.title-link {
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s ease-out;
  }

  .title-link:hover {
    border-bottom: 2px solid currentColor;
  }