.logo {
    font-size: 25px;
    font-family: PangMenZhengDaoCuShuTi-2;
  }

  #navigation {
    position: absolute;
    z-index: 0;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 45px;
    display: flex;
    mix-blend-mode: normal;
    align-items: center;
    box-sizing: border-box;
    background: linear-gradient(
      90deg,
      rgba(145, 236, 242, 1) 4.86%,
      rgba(99, 161, 247, 0.5) 93.75%
    );
    padding: 0 100px;
  }
  #show {
    margin-left: 150px;
  }

  #navigation a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0 60px;
  }

  #navigation a:hover {
    color: #ddd;
  }
  #nav-placeholder {
    height: 37px;
  }

  #content {
    width: 100%;
  }

  #show_content {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #carousel {
    position: relative;
    width: 100%;
    height: 60%;
  }

  #img_content {
    margin: 0 auto;
    width: 80%;
  }

  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
  }

  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slide.active {
    opacity: 1;
  }

  #dots {
    position: absolute;
    display: flex;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    margin-top: 10px;
    z-index: 10;
  }

  .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
  }

  .dot.active {
    background-color: skyblue;
  }

  .img_show {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    margin-top: 30px;
    width: 100%;
  }

  .show_img{
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
  }

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.45); /* 半透明的灰色背景 */
  }

  .mask p {
    color: white;
    font-size: 1rem;
  }
  .mask .titlename {
    font-weight: 1000;
    font-size: 1.8rem;
  }
  .mask a{
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
  }
  .mask a:hover{
    color: gray;
  }

  .text {
    background-color: #e7efff;
    border-radius: 15px;
    padding: 2% 5%;
  }

  .bigtitle {
    font-size: 1.5em;
    font-weight: 1000;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }
  .middletitle {
    font-size: 1.2em;
    font-weight: 1000;
  }