html {
    font-size: 16px;
  }
  
  @media screen and (min-width: 768px) {
    html {
      font-size: 18px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    html {
      font-size: 20px;
    }
  }

  @media screen and (min-width: 1800px) {
    html {
        font-size: 24px;
    }
  }
