.img_show {
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    aspect-ratio: 3/1.2;
  }
  .scenery_content {
    width: 100%;
    border-radius: 10px;
  }
  .text {
    padding: 2%;
    width: 60%;
    transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out,
      transform 0.5s ease-in-out; /* 350-400å­— */
    transform-origin: top;
    opacity: 1;
    visibility: visible;
  }
  .item {
    font-size: 0.5rem;
    transition: font-size 0.5s ease-in-out;
    text-indent: 3em;
  }
  .title {
    position: relative;
    padding-left: 30px;
    font-size: 1.5rem;
    font-weight: 1000;
    padding-bottom: 5px;
  }

  .row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap :25px;
    padding: 15px 0;
  }

  .title::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 20px;
    background-color: blue;
  }
  .beauty {
    border-radius: 10px 0 0 10px;
    background-size: cover;
    background-position: center;
    transition: width 0.5s ease-in-out;
    width: 50%;
  }

  .beauty:hover {
    width: 100%;
  }
  .beauty:hover ~ .text {
    opacity: 0.7;
    transform: scale(0.9);
    width: 70%;
    transition: transform 0.5s ease-in-out 0.5s;
    transition: opacity 0.5s ease-in-out 0.5s,
      width 0.5s ease-in-out 0.5s;
  }