<!DOCTYPE html>
<html>
  <head>
    <style>
      html {
        font-size: 16px;
      }

      @media screen and (min-width: 768px) {
        html {
          font-size: 13px;
        }
      }

      @media screen and (min-width: 1024px) {
        html {
          font-size: 15px;
        }
      }

      @media screen and (min-width: 1800px) {
        html {
          font-size: 36px;
        }
      }
    </style>
    <link rel="stylesheet" type="text/css" href="../../css/views.css" />
  </head>
  <body>
    <div class="scenery_content">
      <div class="row">
        <image-show
          title="寸金桥"
          item="1898～1899年，英雄的湛江、遂溪人民高举保家卫国义旗，为反抗法帝国主义侵略广州湾地区而奋勇抗战。这次规模巨大，为时达一年半之久的反对帝国主义侵略的斗争，虽然被帝国主义和封建主义的联合势力所镇压，但是，人民的反侵略意志并来屈挠。这次斗争不但激发了后人反帝反封建的斗志，在当时，也有力地阻揭了帝国主义侵略中国、瓜分中国的凶焰，予侵略者以打击，迫使法帝国主义减少了租借的范围，从距离遂溪县城不远的万年桥为界，缩小到离县城四十里的赤坎桥，也就是现在重建的这座桥为界。"
          imgUrl="../../img/scenery/寸金桥.jpg"
        ></image-show>
        <image-show
          title="大汉三墩"
          item="三墩一带有着深厚的历史文化底蕴，这里是海上丝绸之路最早的始发港之一，曾是徐闻旧县治和合浦郡治的所在地。古志记载，徐闻城，汉元鼎初年建在海边的讨网村，前临大海面对三墩。可见三墩历史由来已久。三墩是古讨网港的天然屏障，雅号：瀛岛联璧。三墩连环，犹如三块玉璧，浮悬在蓝天碧海之间。天晴日丽，光彩照人。月明星稀，烁放光华。电闪雷鸣，天阴雨湿，三墩更如玉璧生辉。岛上林木撑翠，青藤、古树、老井、乌龟石、莲花石、牡蛎滩等等，成为大汉三墩新农村片区观光旅游的美丽景点。"
          imgUrl="../../img/scenery/大汉三墩.webp"
        ></image-show>
      </div>
      <div class="row">
        <image-show
          title="公古镇"
          item="湛江茂德公古城位于广东省湛江市雷州半岛，是一座有着悠久历史的古城。湛江茂德公古城起源于南北朝时期，当时是俚僚族首领冼夫人的统治中心。随着时间的推移，这座古城逐渐发展成为雷州半岛的政治、经济和文化中心。唐代时期，湛江茂德公古城迎来了鼎盛时期，城墙完好，城内商业兴旺，人民安居乐业。湛江茂德公古城的文化特色丰富多样，其中最为著名的是冼夫人文化。此外，古城的建筑风格也别具一格，古色古香，吸引了无数游客前来观赏。随着历史的变迁，湛江茂德公古城也经历了不少变革。"
          imgUrl="../../img/scenery/公古镇.webp"
        ></image-show>
        <image-show
          title="金桥公园"
          item="寸金桥公园，位于广东省湛江市赤坎区西侧，因邻近寸金桥而得名。该公园始建于1958年，旧称“西山公园”“人民公园”，又称寸金公园，为纪念遂溪人民抗法斗争改为现名，是湛江八景之一。
1961年，郭沫若到湛江题诗“一寸河山一寸金”，寸金桥桥名含中华国土寸土寸金不容外敌侵占之意，以纪念1898年湛江人民抗法斗争的英雄事迹，公园中心广场屹立着抗法英雄的塑像。是湛江市最大的亚热带园林式公园。"
          imgUrl="../../img/scenery/金桥公园.webp"
        ></image-show>
      </div>
      <div class="row">
        <image-show
          title="老街"
          item="赤坎老城是广东省湛江市历史最悠久的地域，也曾经是湛江商贸最发达的地域之一。赤坎区原是只是个海边的古商小埠，早在宋代就已成雏形。自从清康熙年解间除长达200余年的海禁后，海运商贸迅速发展。
          因为这里曾经是法国的殖民地，所以建筑受到法国影响较大。这一带还有较多的十九世纪末、二十世纪初欧式殖民地风格建筑与岭南骑楼建筑混合的“南洋风格建筑”，是欧亚混合的“南洋”文化的产物，具有较高的历史文化、景观欣赏和经济开发价值。"
          imgUrl="../../img/scenery/老街.jpeg"
        ></image-show>
        <image-show
          title="特呈岛"
          item="岛内地势平坦，空气清新，风光秀丽，气候四季如春，有500多亩国家重点保护的红树林、400多年历史的冼太庙、抗日革命旧址。白沙滩、火山石、大海、海鸥、渔船和采海人相互映衬，象一幅色彩斑斓的油画，让人流连忘返。
          特呈岛交通通讯设施不断完善，建好了四级交通运输码头，海上车渡及客运船共3艘，海上快运“快巴”2艘，旅客及车辆往返市区只需20分钟。同时，全岛已实现了通电、通讯、通路、通水。
          该岛主要产业和经济来源主要为海洋捕捞及海水养殖。"
          imgUrl="../../img/scenery/特呈岛.webp"
        ></image-show>
      </div>
    </div>
  </body>
</html>

<script src="../../js/components.js"></script>
