<!DOCTYPE html>
<html>
  <head>
    <style>
      html {
        font-size: 16px;
      }
      
      @media screen and (min-width: 768px) {
        html {
          font-size: 13px;
        }
      }
      
      @media screen and (min-width: 1024px) {
        html {
          font-size: 15px;
        }
      }
    
      @media screen and (min-width: 1800px) {
        html {
            font-size: 36px;
        }
      }
    
    </style>
    <link rel="stylesheet" type="text/css" href="../../css/views.css" />
  </head>
  <body>
    <div class="scenery_content">
      <div class="row">
        <image-show
          title="东海岛"
          item="东海岛旅游度假区的海滩海水洁净，海沙粗细适中无泥，其松软度可与北戴河、芭提雅媲美。独具南国海滨风情和特色的椰林清吧园，是度假区的又一景观。游人在这里乘凉、观海，会令人顿觉心旷神怡。在蔚为壮观的海滩上，你不但可以享受到轻型航空飞机、海上摩托艇、空中拉伞、沙滩跑车等各式各样的游乐项目的乐趣，还可以与当地渔民一道齐齐拉大网，品尝海鲜，或到海中冲浪，尽情尽兴，令你回味无穷。"
          imgUrl="../../img/scenery/东海岛.webp"
        ></image-show>
        <image-show
          title="南三岛"
          item="南三岛，原为十个分散的小群岛，自然环境优美，曾是白鹭等大群海鸟觅食栖息的好地方，故历史上民间又曾称鹭洲岛。南三岛有巨大的地缘优势，扼湛江港（广州湾）进出口的咽喉。建国后围海造田，十岛相连，成为一个大岛。并在沿海沙滩上营造起防护林带。全岛地势平缓，建有贯岛公路、码头、电力、通信等基础设施。
          岛内自然资源丰富，气候温和，冬暖夏凉，是湛江市郊的一块净土。"
          imgUrl="../../img/scenery/南三岛.webp"
        ></image-show>
      </div>
      <div class="row">
        <image-show
          title="金沙湾"
          item="位于赤坎区。宽阔笔直的军民路，种植了各种热带奇花异草的道路隔离带与两旁绿化带；金沙湾新城的花园住宅与新“大天然”的红顶楼群，向人们展现出优雅舒适的生活；金沙湾观海长廊的碧海椰风，更是令人心旷神怡，物我两忘。

          在不久的将来，军民堤的北侧，还将建造一个400多亩的大型滨湖公园；观海长廊的尽头处，则建一个大型的天然海滨浴场……"
          imgUrl="../../img/scenery/海湾.jpeg"
        ></image-show>
        <image-show
          title="吉兆湾"
          item="吉兆湾省级旅游度假区拥有全省著名的大型基岩海岸，岸滩曲折，十里九湾，礁石奇美，可与著名的泰国芭堤雅海滩媲美；沙滩宽阔，坡度理想，沙料洁净，海水清湛，堪与北戴河比肩。区内海阔林密、沙白水蓝、气候温和、水产丰盛，有沙滩、沙坝、怪石、河流、湖泊、港湾、森林、渔村等景物，处处葵树成行、椰影婆娑，别具亚热带海滨特色，是美丽的滨海旅游度假胜地，堪称“小三亚”。"
          imgUrl="../../img/scenery/吉兆湾.webp"
        ></image-show>
      </div>
      <div class="row">
        <image-show
          title="碯洲岛"
          item="硇洲岛兼具渔岛、生态岛、火山岛、革命岛、文物岛于一身，风韵融会交集、绚丽多姿，是一个旅游好去处。
          岛中名胜古迹众多，有南国著名的旅游度假胜地——那晏海石滩，有十分理想的天然海浴场，有与伦敦、好望角灯塔齐名的世界著名三大灯塔之一——硇洲灯塔。
          古迹有：硇洲岛宋皇城遗址、祥龙书院、八角井、宋皇碑、宋皇亭、宋皇村、赤马村以及窦振彪墓和“宫保坊”等。"
          imgUrl="../../img/scenery/碯洲岛.webp"
        ></image-show>
        <image-show
          title="特呈岛"
          item="岛内地势平坦，空气清新，风光秀丽，气候四季如春，有500多亩国家重点保护的红树林、400多年历史的冼太庙、抗日革命旧址。白沙滩、火山石、大海、海鸥、渔船和采海人相互映衬，象一幅色彩斑斓的油画，让人流连忘返。
          特呈岛交通通讯设施不断完善，建好了四级交通运输码头，海上车渡及客运船共3艘，海上快运“快巴”2艘，旅客及车辆往返市区只需20分钟。同时，全岛已实现了通电、通讯、通路、通水。
          该岛主要产业和经济来源主要为海洋捕捞及海水养殖。"
          imgUrl="../../img/scenery/特呈岛.webp"
        ></image-show>
      </div>
      
    </div>
  </body>
</html>

<script src="../../js/components.js"></script>